version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: lab_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123456
      MYSQL_DATABASE: lab_db
      MYSQL_USER: labuser
      MYSQL_PASSWORD: 123456
    ports:
      - "3307:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password